[defaults]
inventory          = inventory.ini
interpreter_python = auto_silent
host_key_checking  = False
stdout_callback    = yaml

[ssh_connection]
# Irrelevant for the aws_ssm transport, but kept so a fallback to SSH still works.
pipelining = True
